.RoleInfoKlasa{
   border-color:rebeccapurple;
   border-top:thick;
   background-color:teal;
   text-emphasis-color: red;
   color:black;
   border-width: 2cm;
   width:1220px;
   height:700px;
   margin-left:-50px;
   margin-top:50px;
   
  
}
h1{
    text-emphasis-color:red;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}